# Node.js backend
/Backend/node_modules
/Backend/dist
/Backend/.env
/Backend/*.log

# Angular frontend
/Frontend/angular-app/node_modules
/Frontend/angular-app/dist
/Frontend/angular-app/.angular
/Frontend/angular-app/coverage

# React frontend
/Frontend/hacker-news-react/node_modules
/Frontend/hacker-news-react/build
/Frontend/hacker-news-react/coverage


node_modules
# General
*.DS_Store
*.env
*.log
*.lock
*.tmp
*.swp

# IDE and OS specific files
.vscode
.idea
.DS_Store
Thumbs.db